<html>
    <head>
        <title>Genius Web</title>
        <style>
        table
        {
            width: 100%;
            height: 100%;
        }
        a
        {
            text-decoration : none;
        }

        .expand
        {
            width: 100%;
            height: 100%;
            display: block;
        }
        #green
        {
            color: white;
            background-color: green;
        }

        #blue
        {
            color: white;
            background-color: blue;
        }

        #yellow
        {
            color: white;
            background-color: yellow;
        }

        #red
        {
            color: white;
            background-color: red;
        }

        #red:active
        {
            background-color: black;
        }

        #green:active
        {
            background-color: black;
        }
        #yellow:active
        {
            background-color: black;
        }
        #blue:active
        {
            background-color: black;
        }

        </style>
    <body>
        <table>
            <tr>
                <td><a href="/press/0" class="expand" id="green"></a></td>
                <td><a href="/press/1" class="expand" id="red"></a></td>
            </tr>
            <tr>
                <td><a href="/press/2" class="expand" id="yellow"></a></td>
                <td><a href="/press/3" class="expand" id="blue"></a></td>
            </tr>
        </table>
    </body>
</html>